body{
    margin: 0;
}
    
h1{
    padding: 30px;
    color: #F2BC00;
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    
p{
    color: solid black;
    text-align: center;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 
table{
    border: cornsilk;
    margin: auto;
}
    
.Imagen{
    width: 300px;
    border-radius: 10px;
    border:  1px solid black;
}
    
.Imagen:hover{
    transform: scale(1.2);
}
    
.Imagen1{
        
    border-radius: 10px;
    border:  1px solid black;
}
    
.Imagen1:hover{
    transform: scale(1.2);
}

.inicio{
    height: 100%;
    width: 1000px;
    background: black;
    border-radius: 6px;
    color: white;
}
