article{
    height: 900px;
    width: 250px;
    float: left;
    margin-left: 100px;
    margin-top: auto;
}

aside{
    height: 800px;
    width: 850px;
    float: right;
    margin-right: 150px;
    background: black;
    border-radius: 6px;
    color: white;
}

.sitios{
    height: 900px;
    width: 900px;
    color: whitesmoke;
    padding: 20px;
    font-size: 60px;
}

.boton{
    margin: 10px;
    padding: 10px;
    height: 40px;
    width: 200px;
    background: #F2BC00;
    border: solid #EC7D00 1.5px;
    border-radius: 6px;
    text-align: left;
    font-size: 15px;
    font-family: 'Lora', serif;
    transition-duration: 0.6s;
}

.boton:hover{
    background-color: black;
    color:white;
}
